// transitions
@mixin transition($target: all, $duration: .25s, $function: ease-in-out) {
  transition: $target $duration $function;
}

@mixin headers() {
  h1, h2, h3, h4, h5, h6 {
    @content;
  }
}

@mixin ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: inherit;
}
