<template>
  <section>
    <h1 class="title rainbow-header">About vue components</h1>
    <p class="subtitle">Below an example of how  <b>.vue components</b> work.</p>
    <img src="img/vue-component.png">
  </section>
</template>
<script>
  export default {
    head () {
      let pageTitle = this.$route.name.charAt(0).toUpperCase() + this.$route.name.slice(1)
      return { titleTemplate: `${pageTitle} - %s` }
    }
  }
</script>
