.hide, .hidden {
  display: none;
}

.auto-width {
  margin: 0 auto;

  @include breakpoint-up(mobile){
    width: $page-width-mobile;
  }
  @include breakpoint-up(mobile-l){
    width: $page-width-mobile-l;
  }
  @include breakpoint-up(tablet){
    width: $page-width-tablet;
  }
  @include breakpoint-up(desktop){
    width: $page-width-desktop;
  }
  @include breakpoint-up(desktop-l){
    width: $page-width-desktop-l;
  }
  @include breakpoint-up(desktop-xl){
    width: $page-width-desktop-xl;
  }
}

.background-black {
  background-color: rgba($color-dark, .15);
}

.subtitle {
  color: rgba($color-grey, .5);
  margin: 0 0 #{$golden-ratio}rem #{$golden-ratio}rem;
}

.rainbow-header {
    // fancy colors
    background: linear-gradient(90deg, lighten($color-base, 20%),  $color-base, $color-magenta);
    color: inherit;
    background-clip: text;
    -o-text-fill-color: transparent;
    -o-background-clip: text;
    -ms-text-fill-color: transparent;
    -ms-background-clip: text;
    -moz-text-fill-color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
