.label {
  display: block;
}

.button {
  display: inline-block;
  background-color: $color-base;
  min-width: 5rem;
  color: $color-light;

  &:hover {
    color: inherit;
  }
}

.input {
  @include transition;
  width: 100%;
  height: 2em;
  padding: .5em;
  font-family: $fonts-body;
  font-size: 1.5em;
  outline: 0;
  border: 1px solid transparent;
  border-radius: $border-radius;
  box-shadow: 0 0 3px rgba($color-dark, .3) inset;

  &:hover {
    background-color: transparent;
    border: 1px solid $color-nav-hover;
    cursor: pointer;
  }
  &:focus {
    background-color: transparent;
    border: 1px solid $color-nav-active;
    box-shadow: 0 0 10px rgba($color-dark, .3);
  }

  &::placeholder {
    color: rgba($color-grey2, .5);
  }
}
