@charset "utf-8";

* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: $fonts-body;
  font-size: $font-size-body;
  font-weight: $font-weight-body;
  color: $color-text;
  background-color: $color-page-background;
}

p {
  margin: #{$golden-ratio}rem 0;
  line-height: 2em;
}

main img {
  max-width: 100%;
}

a {
  color: $color-link;
  &:visited {
    color: $color-link;
  }
  &:hover {
    color: $color-link-hover;
  }
}

@include headers() {
  display: inline-block;
  font-family: $fonts-headers;
  font-weight: $font-weight-headers;
  margin: #{$golden-ratio - 1}em 0;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2.2em; }
h3 { font-size: 2em; }
h4 { font-size: 1.8em; }
h5 { font-size: 1.6em; }
h6 { font-size: 1.5em; }
