<template>
  <section class="footer">
    <p>Copyright &copy; {{year}}</p>
  </section>
</template>
<script>
  export default {
    data () {
      return {
        author: process.env.author,
        sitename: process.env.title,
        year: new Date().getFullYear()
      }
    }
  }
</script>
<style lang="scss">
.footer {
  margin-top: 1rem;
  border-top: 1px solid rgba($color-border, .3);
  user-select: none;
}
</style>
