<template>
  <section class="header auto-width">
    <Logo/>
    <Navigation/>
  </section>
</template>
<script>
import Logo from '~/components/Logo'
import Navigation from '~/components/Navigation'

export default {
  components: {
    Logo, Navigation
  }
}
</script>
<style lang="scss">
.header {
  padding: #{$golden-ratio}rem 0;
  display: flex;
  align-items: center;
  user-select: none;
}
</style>

