<template>
  <div class="logo">
    <nuxt-link class="link" :to="'/'" :style="{ backgroundImage: 'url(/img/favicon.ico)' }"/>
  </div>
</template>
<style lang="scss">
$logo-dimensions: 36px;

.logo {
  display: inline-block;
  padding-right: #{$golden-ratio}rem;

  .link {
    @include transition;
    display: inline-block;
    width: $logo-dimensions;
    height: $logo-dimensions;
    background-size: cover;
    vertical-align: bottom;

    &:after {
      @include transition;
      position: relative;
      content: '';
      display: block;
      background-image: inherit;
      background-size: cover;
      width: 100%;
      height: 100%;
      transform: scale(1);
      opacity: 1;
    }

    &:focus {
      // transform: scale(.5);
      // opacity: .5;
      &:after {
        transform: scale($golden-ratio);
        opacity: 0;
      }
    }
  }
}
</style>
