<template>
  <nav class="nav">
    <ul>
      <li v-for="(item, index) in feed" :key="index">
        <nuxt-link :to="item.url" exact>{{item.label}}</nuxt-link>
      </li>
    </ul>
  </nav>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      client: process.client,
      newMenuOpen: false,
      newMenuObj: {
        label: '',
        url: '',
        hotkeys: []
      }
    }
  },
  methods: {
    toggleMenu() {
      this.newMenuOpen = !this.newMenuOpen
    },
    addMenuItem() {
      this.$store.commit('NAVIGATION/NEW_ITEM', this.newMenuObj)
      this.newMenuOpen = false
      this.newMenuObj = {
        label: '',
        url: '',
        hotkeys: []
      }
    },
    goToPage(page) {
      if (!page) return
      this.$router.replace(page)
    },
    renderKeys(keys) {
      if (!keys.length) return ''
      let html = keys.map(item => item.replace('metaKey', '⌘').replace('ctrlKey', 'CTRL'))
      return html.join(' + ').toString()
    }
  },
  computed: {
    ...mapGetters({
      feed: 'NAVIGATION/GET_FEED'
    })
  }
}
</script>
<style lang="scss">
.nav {
  ul {
    margin: 0;
    padding: 0;
    box-shadow: 0 -1px 0px rgba($color-dark, .5) inset;

    li {
      display: inline-block;
      margin: 0 #{$golden-ratio - 1}rem;

      a {
        display: inline-block;
        @include transition;
        padding: #{$golden-ratio - 1}rem;
        color: $color-nav;
        text-decoration: none;
        text-transform: capitalize;

        // no drag
        user-drag: none;
        -o-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;

        &:hover {
          color: $color-nav-hover;
          box-shadow: 0 -1px 0px rgba($color-base, .5) inset;
        }

        &.nuxt-link-exact-active {
          color: $color-nav-active;
          box-shadow: 0 -1px 0 $color-base inset;
        }
      }
    }
  }
}
</style>
