<template>
  <div class="layout-default">
    <header class="background-black">
      <Header class="auto-width"/>
    </header>
    <main class="main">
      <nuxt class="body auto-width"/>
    </main>
    <footer>
      <Footer class="auto-width" />
    </footer>
  </div>
</template>
<script>
import Header from '~/components/Header'
import Footer from '~/components/Footer'
export default {
  components: {
    Header, Footer
  }
}
</script>
<style lang="scss">
.layout-default {
  .main {
    overflow: hidden;
  }
}
</style>
