<template>
  <section class="page error-page">
    <div class="container is-widescreen">
      <div v-if="error.statusCode === 404">
        <h1 class="title warn bold">
          <span>{{error.statusCode}}: page not found!</span>
        </h1>
        <h2 class="title message">{{error.message}}: <b>{{$route.path}}</b></h2>
      </div>
      <div v-else>
        <h1 class="title error bold">
          <span class="red">Error: {{error.statusCode}}</span>
        </h1>
        <h2 class="title message">{{error.message}}</h2>
      </div>
      <div class="text-center">
        <p><nuxt-link to="/">&laquo; go back</nuxt-link>.</p>
      </div>
    </div>
  </section>
</template>
<script>
export default {
  props: {
    error: {
      type: Object,
      default: null
    }
  }
}
</script>
<style lang="scss">
.error-page {
  h1.title {
    padding-bottom: .5em;
    border-bottom: 1px dotted $color-red;
  }
  .error {
    color: $color-red;
  }
  .warn {
    color: $color-orange
  }
}
</style>
