$color-base: #09c;
$color-alt: #CE00BC;
$color-alt2: #ff00ff;
$color-light: #fff;
$color-lightgrey: #efefef;
$color-grey: #ccc;
$color-grey2: #aaa;
$color-grey3: #999;
$color-dark: #000;
$color-dark2: #222;
$color-dark3: #333;

$color-red: #f00;
$color-orange: #ff9900;
$color-green: #32B623;
$color-error: $color-red;
$color-success: $color-green;
$color-warning: $color-orange;
$color-magenta: $color-alt;

$color-page-background: $color-dark2;
$color-text: $color-grey2;

$color-link: $color-base;
$color-link-hover: lighten($color-link, 15%);

$color-nav: $color-link;
$color-nav-hover: $color-link-hover;
$color-nav-active: $color-link-hover;

$color-border: $color-grey;

