$font-size-default: 16px;
$font-size-body: 1em;
$font-weight-body: 400;
$font-weight-headers: 300;
$font-family-serif: 'Roboto Slab', 'Georgia', serif;
$font-family-sans: 'Open Sans', Arial, Helvetica, sans-serif;

$fonts-body: $font-family-sans;
$fonts-headers: $font-family-serif;
